// ============================================
// FOOTER
// ============================================
@use '../globals' as *;

footer {
  text-align: center;
  padding: $spacing-lg;
  color: $text-gray;
  border-top: 1px solid $card-border;
  
  p {
    font-size: $font-size-small;
  }
}

